#Calendar {
  height: 100%;
  width: auto;
  margin: auto;
  margin-top:50px;
  margin-bottom: 50px;
  /* background: yellow; */
}

.rbc-month-view{
  flex-basis: 500px !important;
}

.rbc-toolbar-label {
  font-weight: bold;
  font-size: 22px;
}

.rbc-event-content {
  font-size: 14px;
}

.rbc-calendar {
  min-height: 500px;
}